<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Image management system</title>

    <!--common resource-->
    <%- include component/common_header.ejs %>
    <!--customize js-->
    <link href="css/template/card-design.css" rel="stylesheet">
    <link href="css/customize/trash.css" rel="stylesheet">
    <script src="js/customize/trash.js"></script>
</head>

<body page="trash">

<div id="wrapper">

    <div id="page-wrapper">
        <!-- Navigation -->
        <%- include component/navigation.ejs %>
        <!-- sidebar -->
        <%- include component/tree.ejs %>
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Trash
                    </h1>
                    <!--<ol class="breadcrumb">-->
                    <!--<li>-->
                    <!--<i class="fa fa-home"></i> <a href="/"> Home</a>-->
                    <!--</li>-->
                    <!--<li class="active">-->
                    <!--<i class="fa fa-dashboard"></i> Image Management-->
                    <!--</li>-->
                    <!--</ol>-->
                </div>
            </div>
            <!-- /.row -->

            <!--notification-->
            <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
            <!--<div class="alert alert-info alert-dismissable">-->
            <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
            <!--<i class="fa fa-info-circle"></i>  <strong>Like SB Admin?</strong> Try out <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a> for additional features!-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!-- /.row -->

            <!--current path-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-1">
                        <b>Path:</b>
                    </div>
                    <div class="col-lg-11">
                        <span id="current-path-showcase">&nbsp;/</span>
                    </div>
                </div>
            </div>
            <br>
            <!--tool bar-->
            <div class="row">
                <div class="col-lg-12">
                    <!--sort type-->
                    <div class="col-lg-1" style="margin-top:6px">
                        <b>Sort by:</b>
                    </div>
                    <div class="col-lg-3">
                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default">Date</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default">Size</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default">Name</button>
                            </div>
                        </div>
                    </div>
                    <!--search bar-->
                    <div class="col-lg-7 col-lg-offset-1">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   placeholder="Search by image name or category name...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">Search</button>
                             </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
            </div>
            <br>
            <!--toolbar-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-1" style="margin-top:6px">
                        <b>Action:</b>
                    </div>
                    <div class="col-lg-8">
                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <button id="check-all-button" type="button" class="btn btn-success"><span
                                            class="glyphicon glyphicon-check" aria-hidden="true"></span> Select all
                                </button>
                            </div>
                            <div class="btn-group" role="group">
                                <button id="put-back-button" type="button" class="btn btn-warning"><span
                                            class="glyphicon glyphicon-step-backward" aria-hidden="true"></span> Put
                                    back
                                </button>
                            </div>
                            <div class="btn-group" role="group">
                                <button id="destroy-button" type="button" class="btn btn-danger"><span
                                            class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Destroy
                                </button>
                            </div>
                            <div class="btn-group" role="group">
                                <button id="move-to-button" type="button" class="btn btn-info" data-toggle="modal"
                                        data-target="#move-to-modal"><span class="glyphicon glyphicon-move"
                                                                           aria-hidden="true"></span> MoveTo
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!--image list-->
            <div class="row">
                <div class="col-lg-12">
                    <div id="image-list" class="col-lg-12">
                        <!--gallery-->
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!--MoveTo Modal-->
<%- include component/move_to.ejs %>
</body>

</html>
