<!-- jquery-contextmenu (https://github.com/mar10/jquery-ui-contextmenu/) -->
<script src="js/template/jquery.ui-contextmenu.min.js"></script>

<!--tree css-->
<link href="vendor/fancytree/skin-bootstrap/ui.fancytree.css" rel="stylesheet" class="skinswitcher">
<link href="css/customize/fancytree.custom.css" rel="stylesheet" class="skinswitcher">

<!--tree js-->
<script src="vendor/fancytree/src/jquery.fancytree.js"></script>
<script src="vendor/fancytree/src/jquery.fancytree.dnd.js"></script>
<script src="vendor/fancytree/src/jquery.fancytree.edit.js"></script>
<script src="vendor/fancytree/src/jquery.fancytree.glyph.js"></script>
<script src="vendor/fancytree/src/jquery.fancytree.table.js"></script>
<script src="vendor/fancytree/src/jquery.fancytree.gridnav.js"></script>
<script src="vendor/fancytree/src/jquery.fancytree.wide.js"></script>

<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div id="resize-nav-bar" class="nav navbar-nav side-nav">
    <div id="tree-header">
        <br>
        <span class="tree-title">Directory tree</span>
        <hr class="grey-line">
    </div>
    <div id="tree" class="fancytree-colorize-hover fancytree-fade-expander"></div>
</div>