.image-check {
    padding:12px;
    margin-top: 2px;
}

.image-check:hover {
    cursor: pointer;
}

.upload-block-font {
    font-weight: 400;
    font-size: 1.5em;
    color: darkgrey;
}

/*rewrite boostrap*/
@media (min-width: 768px) {
    .modal-dialog {
        width: 910px;
        margin: 30px auto;
    }
}

.page-header {
    margin-top: 20px;
}

.path-color {
    color: #ba910e;
}

.edit-title-input{
    height:20px;
    font-size:1em;
}


span.pending span.fancytree-title {
    font-style: italic;
}
span.pending span.fancytree-title:after {
    content: "\2026"; /* ellipsis */
}

.fancytree-expanded span.fancytree-expander{
    color: #07df60 !important;
}

.wrapper{
    padding-left:225px;
}

.white-bg-tree .fancytree-expanded span.fancytree-expander{
    color: #2c2c2c !important;
}